.pages-contact
  Loader(v-show='loading')
  div(v-if='props')
    //pre {{ props }}
  Hero(:props='props.acf.hero')
  .pages-contact__hero(:style='{ backgroundImage: "url(" + props.acf.hero + ")" }')
    .col-sm-3.col-sm-offset-8.hero-holder
      h1.hero-title 
        | {{ props.acf.hero_title }}
      h1.hero-secondary
        | {{ props.acf.hero_title_2 }}
  .pages-contact__container
    .row
      .col-sm-6
        h2
          a.contact-phone(:href='props.acf.phone_link')
            .phone(v-html='props.acf.phone_number')
              | {{ props.acf.phone_number }}
        .fax
          | FAX: {{ props.acf.fax }}
        a.contact-address(:href='props.acf.address_link')
          .address(v-html='props.acf.address')
            | {{ props.acf.address }}
        p(v-html='props.acf.hours')
          | {{ props.acf.hours }}
      .col-sm-6
        a(:href='props.acf.address_link')
          img.map(:src='props.acf.map')
    .row(v-html='props.acf.contact_text')
      .col-sm-6.col-sm-offset-3
        p
          | {{ props.acf.contact_text }}
    .row(v-html='props.acf.contact_form')
      | {{ props.acf.contact_form }}
