.footer
	.footer__top(:style='{ backgroundImage: "url(" + props.acf.top_background + ")" }')
		.row
			.col-sm-4.col-sm-offset-8
				h2.title-foot
					| {{ props.acf.top_title_1 }}
				h2.secondary-title-foot
					| {{ props.acf.top_title_2 }}
				p(v-html='props.acf.top_info')
					| {{ props.acf.top_info }}

	.footer__bottom
		.footer__left.col-sm-4
			img.footer-logo(:src='props.acf.logo')
			a.address(:href='props.acf.address_link')
				p(v-html='props.acf.address')
					| {{ props.acf.address }}
		.footer__right.col-sm-5.col-sm-offset-3
			h2
				| (415) 641-1019
			p(v-html='props.acf.hours')
				| {{ props.acf.hours }}					
